<!doctype html>
{% load static %}
  {% csrf_token %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href ="{% static 'users/css/styles.css' %}">
  </head>




  <body >
    <div class="bg-image ">
       
        <div class="container ">
        
            <div class="row justify-content-center">
                 <nav class="navbar navbar-custom navbar-expand-lg ">
                    <div class="container-fluid">
                    <a class="navbar-brand " width="100px" height="20px" href="#">
                        <img src="{% static 'users/img/logo_v2ru.svg' %}" width="140" ><img></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon "></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/dest">Направления</a>
                        </li>
                        <li class="nav-item justify-content-end">
                            <a class="nav-link active text-light pb-2 "href="/profile">Личный кабинет</a>
                        </li>
                             <li class="nav-item justify-content-end">
                            <a class="nav-link  text-light pb-2 "href="/logout">Выйти</a>
                        </li>
                        </ul>
                    </div>
                    </div>
                </nav>
            <div class="col-1">

            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">

                
                <div class="container  h-5 pt-1 mt-2 ">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                      <div class="card " >

                          {% block content %}
                           <form  method="post">
                               {% csrf_token %}

                        <div class="card-body p-1 pt-1 ">
                          <h3 class="fw-normal text-center">Личный кабинет</h3>
                          <div class="row justify-content-between ">

                            <div class="col-lg-6 d-flex justify-content-center  ">
                              <div class="p-2 ">
                                {{ student.FIO}}</br>
                                {{ student.email}}</br>
                                  {{ student.telegram}}

                              </div>

                            </div>

                            <div class="col-lg-6 d-flex justify-content-center text-white">
                              <div class="p-2">
                                  {{student.phone}}</br>
                                  {{student.group}}</br>
                                  {{student.names_of_priority}}</br>


                                 <button  class="btn btn-light btn-md text-white" data-mdb-ripple-color="dark"type="submit">
                                     Сохранить данные
                                 </button>
                                  <span>{{ error }}</span>



                              </div>
                            </div>

                          </div>
                        </div>
                               </form>

                          {% endblock %}

                      </div>
                    </div>
                  </div>
                </div>

                    </div>
               
            </div>
                <div class="col-1">
                
                </div>
            </div>
            
    
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
            
        </div>
    </div>
</body>
   



</html>
